app
datasets
Flask
Flask_Bcrypt
Flask_Cors
Flask_PyMongo
Flask_SocketIO
ipython
pandas
protobuf
PyJWT
python-dotenv
redis
reportlab
tensorflow
torch
transformers
google-generativeai
gunicorn
waitress
tf-keras