app==0.0.1
datasets==2.14.5
Flask==3.0.2
Flask_Bcrypt==1.0.1
Flask_Cors==4.0.0
Flask_PyMongo==2.3.0
Flask_SocketIO==5.3.6
ipython==8.15.0
pandas==2.2.1
protobuf==4.25.3
PyJWT==2.8.0
PyJWT==2.8.0
redis==5.0.2
torch==2.0.1
transformers==4.33.1
