.chat {
  height: 100vh;
  .chat_container {
    .chatAppbar {
      background-color: var(--background-modals);
      height: 54px;
      padding: 0 5%;
      display: flex;
      align-items: center;
      .chatbar_left {
        display: flex;
        align-items: center;
      }
    }
    .chatWrapper {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      column-gap: 20px;
      .leftSidebar {
        width: 23%;
        display: flex;
        flex-direction: column;
        .lsbar_search {
          margin-bottom: 20px;
          .lsdbar_searchform {
            display: flex;
            align-items: center;
            background-color: var(--background-modals);
            border-radius: 5px;
            width: 100%;
            .lsdbar_form_group {
              flex: 1;
              .lsdbar_search_input {
                padding: 10px;
                border: none;
                width: 95%;
                background-color: transparent;
              }
            }
            .lsdbar_search_button {
              all: unset;
              cursor: pointer;
              padding: 7px 10px 5px 10px;
              .lsdbar_search_Ic {
                height: 15px;
                width: 15px;
              }
            }
          }
        }
        .lsdbar_categories {
          display: flex;
          flex-direction: column;
          flex: 1;
          .lsdbar_item_cat_active {
            flex: 1;
          }
          .lsdbar_cat_item {
            margin-bottom: 2px;
            border-bottom: 1px solid #bfbfbf;
            .lsbar_it_title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              padding: 5px;
              border-radius: 5px;
              &:hover {
                background-color: var(--background-modals);
              }
              span {
                text-transform: uppercase;
              }
              .lsdbar_it_Ic {
                height: 15px;
                width: 15px;
                margin-top: 2px;
              }
            }
            .lsdbar_cat_cont {
              .wecare_it_user {
                margin: 10px 0 20px 0;
                display: flex;
                align-items: flex-start;
                cursor: pointer;
                .wecare_lsdbar_profile {
                  min-width: 30px;
                  height: 30px;
                  width: 30px;
                  border-radius: 50%;
                  overflow: hidden !important;
                  cursor: pointer;
                  border: 2px solid #9935e8;
                  .wecare_user_profile_sidebar {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    margin-top: 5px;
                  }
                }
                .lsdbar_user_profile_texts {
                  margin-left: 10px;
                  flex: 1;
                  .lsdbar_user_name {
                    font-family: 'Apercu';
                    font-size: 1.1rem;
                    font-weight: 400;
                    line-height: 18px;
                    color: var(--text-color);
                  }
                  .lsdbar_last_mess {
                    font-size: 0.85rem;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    word-wrap: break-word;
                    color: var(--text-color);
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .lsdbar_user_profile_meta {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  justify-content: flex-start;
                  padding-right: 10px;
                  padding-bottom: 20px;
                  .lsdbar_lst_time {
                    font-size: 0.7rem;
                  }
                }
              }
              .lsdbar_new_chat {
                display: flex;
                align-items: center;
                justify-content: center;

                background: linear-gradient(
                  to bottom right,
                  #14a9ff,
                  #0088f0
                ) !important;
                border: none;
                border-radius: 23px;
                color: #fff !important;
                cursor: pointer;
                font-family: Roboto, sans-serif;
                font-weight: 700;
                line-height: 1.5rem;
                margin: 20px 0;
                outline: none;
                padding: 10px 20px;
                transition: 0.4s;
                .pa_plus_Ic {
                  height: 15px;
                  width: 15px;
                  fill: #fff !important;
                }
                span {
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
      .playarea {
        flex: 1;
        background-color: var(--background-modals);
        border-radius: 10px;
        height: calc(100vh - 94px);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .pa_top {
          height: min-content;
          border-bottom: 1px solid #bfbfbf;
          box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
          padding: 5px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .active_chatee_left {
            display: flex;
            align-items: center;
            .active_chatee_profile {
              min-width: 30px;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              overflow: hidden !important;
              cursor: pointer;
              border: 2px solid #9935e8;
              margin-right: 10px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                margin-top: 5px;
              }
            }
            .active_chatee_meta {
              h2 {
                font-family: 'Apercu';
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 18px;
                color: var(--text-color);
                cursor: pointer;
              }
              .active_chatee_ls {
                font-size: 0.85rem;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                word-wrap: break-word;
                color: var(--text-color);
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .pa_middle {
          height: calc(100vh - 94px - 35px - 50px);
          padding: 15px;
          padding-bottom: 5px;
          overflow-y: scroll;
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-start;
          &::-webkit-scrollbar {
            display: none;
          }
          .messplay_sec_info {
            background-color: var(--background-modals);
            color: var(--text-color);
            padding: 5px;
            border-radius: 5px;
            width: 50%;
            margin: 0 auto;
            align-self: center;
            text-align: center;
            font-size: 0.8rem;
            cursor: pointer;
            align-self: flex-start;
          }
          .messplay {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 1;
            .incoming_message {
              display: flex;
              align-items: flex-start;
              width: 80%;
              margin: 20px 0;
              align-self: flex-start;
              .in_mess_sender_profile {
                min-width: 30px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                overflow: hidden !important;
                cursor: pointer;
              }
              .in_mess_content {
                margin-left: 10px;
                background-color: var(--background-modals);
                padding: 5px;
                border: 1px solid #d6d6d6;
                border-radius: 5px;
                min-width: 70px;
                .inc_mess_meta {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  .inc_sender_name {
                    font-family: 'Apercu';
                    font-size: 0.8rem;
                  }
                  .inc_mess_time {
                    font-size: 0.8rem;
                  }
                  .inc_mess_misc {
                    font-family: 'Apercu';
                    background-color: #ff9428;
                    padding: 2px 3px;
                    border-radius: 3px;
                    font-size: 0.6rem;
                    font-weight: 800;
                  }
                }
                .incoming_cont_message {
                  padding-top: 5px;
                  .inc_th_content {
                    font-size: 0.95rem;
                  }
                }
              }
            }
            .outgoing_message {
              display: flex;
              align-items: flex-start;
              max-width: 80%;
              margin: 20px 0;
              align-self: flex-end;
              .out_mess_content {
                margin-right: 10px;
                background-color: var(--background-modals);
                padding: 5px;
                border: 1px solid #d6d6d6;
                border-radius: 5px;
                min-width: 70px;
                .out_mess_meta {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  .out_mess_time {
                    font-size: 0.8rem;
                  }
                }
                .outgoing_cont_message {
                  padding-top: 5px;
                  .out_th_content {
                    font-size: 0.95rem;
                  }
                }
              }
              .out_mess_sender_profile {
                min-width: 30px;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                overflow: hidden !important;
                cursor: pointer;
              }
            }
          }
        }
        .pa_bottom {
          height: min-content;
          .pa_chat_wrapper {
            display: flex;
            align-items: center;
            .pa_widgets {
              padding: 0 10px;
              .pa_plus_Ic {
                height: 20px;
                width: 20px;
                cursor: pointer;
              }
            }
            .pa_chat_form {
              flex: 1;
              .pa_form_chat {
                display: flex;
                align-items: center;
                .pa_chat_input {
                  flex: 1;
                  background-color: var(--background-color-one);
                  outline: none;
                  border-radius: 5px;
                  display: block;
                  min-height: 30px;
                  height: 30px;
                  max-height: 98px;
                  overflow-x: auto;
                  line-height: 21px;
                  padding: 10px;
                  font-size: 15px;
                  line-height: 25px;
                  float: left;
                  border: 1px solid gray;
                  resize: none;
                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
                .pa_chat_submit_btn {
                  all: unset;
                  padding: 10px 20px;
                  cursor: pointer;
                  .pa_send_Ic {
                    height: 20px;
                    width: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .rightSidebar {
        width: 23%;
      }
    }
  }
}

[contentEditable='true'] {
  &:empty {
    &:not(:focus) {
      &:before {
        content: attr(data-text);
      }
    }
  }
}
